*.RData
*.html
.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
*.Rproj

aim7-summary.md
aim7-summary_files/*
aim7-queried-summary.md
aim7-queried-summary_files/*
aim7-workbook.Rmd
aim7-global-phys-sev-0-summary.md

R/copilot-files/*

20250731_dictionary.csv

copilot-*
